body {
  background-color: #ffffff;
  color: #000000;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100%;
  position: relative;
  width: 100%;
}

html {
  height: 100%;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Merriweather', serif;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 0 0 25px;
  text-transform: uppercase;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin: 0 0 25px;
}

@media (min-width: 768px) {
  p {
    font-size: 18px;
    line-height: 1.6;
    margin: 0 0 35px;
  }
}

a {
  color: #42DCA3;
  transition: .2s ease-in-out;
}

a:focus, a:hover {
  color: #1d9b6c;
  text-decoration: none;
}

#mainNav {
  background-color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-bottom: 0;
  text-transform: uppercase;
}

#mainNav .navbar-toggler {
  border: 1px solid #000000;
  color: #000000;
  font-size: 14px;
  padding: 11px;
}

#mainNav .navbar-brand {
  font-weight: 700;
}

#mainNav a {
  color: #000000;
}

#mainNav .navbar-nav .nav-item {
  transition: background .3s ease-in-out;
}

#mainNav .navbar-nav .nav-item:hover {
  background-color: transparent;
  color: fade(#ffffff, 80%);
  outline: 0;
}

#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
  background-color: transparent;
  outline: none;
}

@media (min-width: 992px) {
  #mainNav {
    border-bottom: 0;
    letter-spacing: 1px;
    padding-bottom: 10px;
    padding-top: 10px;
    transition: background .3s ease-in-out, padding-top .3s ease-in-out, padding-bottom .3s;
  }
  #mainNav .nav-link.active {
    background-color: rgba(255, 255, 255, 0.3);
    outline: none;
  }
  #mainNav .nav-link.active:hover {
    color: #000000;
  }
}

.masthead {
  background: url("../img/intro-bg.jpg") no-repeat bottom center scroll;
  background-color: #000000;
  background-size: cover;
  color: #ffffff;
  display: table;
  height: auto;
  padding: 200px 0;
  text-align: center;
  width: 100%;
}

.masthead .intro-body {
  display: table-cell;
  vertical-align: middle;
}

.masthead .intro-body .brand-heading {
  font-size: 50px;
}

.masthead .intro-body .intro-text {
  font-size: 18px;
}

@media (min-width: 768px) {
  .masthead {
    height: 100%;
    padding: 0;
  }
  .masthead .intro-body .brand-heading {
    font-size: 100px;
  }
  .masthead .intro-body .intro-text {
    font-size: 22px;
  }
}

.btn-circle {
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 100% !important;
  color: #ffffff;
  font-size: 26px;
  height: 55px;
  line-height: 45px;
  margin-top: 15px;
  transition: background .3s ease-in-out;
  width: 55px;
}

.btn-circle:focus, .btn-circle:hover {
  background: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  outline: 0;
}

.content-section {
  padding-bottom: 150px;
  padding-top: 150px;
}

.download-section {
  background: url("../img/downloads-bg.jpg") no-repeat center center scroll;
  background-color: #000000;
  background-size: cover;
  color: #ffffff;
}

#map {
  height: 300px;
  width: 100%;
}

@media (min-width: 992px) {
  .content-section {
    padding-bottom: 200px;
    padding-top: 200px;
  }
  #map {
    height: 350px;
  }
}

.btn {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  transition: .3s ease-in-out;
}

.btn-default {
  background-color: transparent;
  border: 1px solid #42DCA3;
  color: #42DCA3;
}

.btn-default:focus, .btn-default:hover {
  background-color: #42DCA3;
  border: 1px solid #42DCA3;
  color: #ffffff;
  outline: none;
}

ul .banner-social-buttons {
  margin-top: 0;
}

@media (max-width: 1199px) {
  ul .banner-social-buttons {
    margin-top: 15px;
  }
}

@media (max-width: 767px) {
  ul .banner-social-buttons li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }
  ul .banner-social-buttons li:last-child {
    margin-bottom: 0;
  }
}

footer {
  padding: 50px 0;
}

footer p {
  font-size: 14px;
  margin: 0;
}

::selection {
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
  text-shadow: none;
}

img::selection {
  background: transparent;
}
